body {
    width: 250px; /* your desired width */
    position: relative;
    vertical-align:middle;
    background-color: #F0F0F0;
}

.hidden{
    display: none;
}

.workaround-button{  
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease; 
}

.workaround-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}

.workaround-button:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}

.advanced-button{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0 12px;
    line-height: 20px;
    height: 30px;
    max-height: 30px;
    background: none;
    font-weight: 700;
    border: 0;
    border-radius: 0;
    color: #D92736;
    transition-timing-function: ease-in-out;
    transition-property: background;
    transition-duration: 150ms;
    box-shadow: none;
}

.advanced-button:hover {
    background: #F7F9FD;
}

.support-us{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: #fd0;
    font-weight: 500;
    color: #222;
}

.support-us>a {
    all: unset;
}

h1 {
    text-align:center;
}


.vertical-center {
    text-align:center;
}

.row-elements{
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
    display: flex;
    margin-bottom: 20px;
}

.row-elements>a{
    flex: 1;
}