@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Medium.ttf);
}

body {
    position: relative;
    vertical-align:middle;
    background-color: #F0F0F0;
    font-family: OpenSans;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.25px 0.5px 0px;
    border-radius: 0.3px;
}

.hidden{
    display: none;
}

.workaround-button{  
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease; 
}

.workaround-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}

.workaround-button:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}

h1 {
    text-align:center;
    font-family: Montserrat;
}


.vertical-center {
    text-align:center;
}

.row-elements{
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
    display: flex;
    margin-bottom: 20px;
}

.row-elements>a{
    flex: 1;
}


select {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    color: #333;
    font-size: 14px;
    padding: 6px;
    width: 100%;
    margin-bottom: 10px;
}

option {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 6px;
}

.ad-banner-img{
    border-radius: 3%;
}

.ad-reasoning{
    font-size: 9px;
    margin-top: 0px;
}